<!-- templates/fragments/navigation.html -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient shadow py-2"
         style="background: linear-gradient(135deg, #2c3e50, #000000);">

        <a class="navbar-brand d-flex align-items-center ml-3" th:href="@{/users/home}">
            <img width="40"
                 th:src="@{/assets/images/{file}(file='tank-icon.png')}"
                 alt="Tank icon"
                 class="mr-2">
            <span class="font-weight-bold">World of Tanks</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto ml-3">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/}" th:text="#{navbar_home}">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tanks/info}" th:text="#{navbar_info}">
                        Info
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tanks/search}" th:text="#{navbar_search}">
                        Search
                    </a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/home}" th:text="#{navbar_home_logged}">
                        Home
                    </a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/tank/add}" th:text="#{navbar_add_tank}">
                        Add Tank
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto mr-3">

                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link btn btn-outline-light mx-2" th:href="@{/users/login}">
                        <i class="fas fa-sign-in-alt mr-1"></i>
                        <span th:text="#{navbar_login}">Login</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link btn btn-primary mx-2" th:href="@{/users/register}">
                        <i class="fas fa-user-plus mr-1"></i>
                        <span th:text="#{navbar_register}">Register</span>
                    </a>
                </li>

                <li class="nav-item d-flex align-items-center" sec:authorize="isAuthenticated()">
                    <div class="text-white px-3">
                        <span>Welcome, </span><strong><span sec:authentication="name">user</span></strong>!
                    </div>
                    <form th:action="@{/users/logout}" method="post" class="form-inline my-2 my-lg-0">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button class="btn btn-link nav-link" type="submit">
                            <i class="fas fa-sign-out-alt mr-1"></i><span th:text="#{logout}">Logout</span>
                        </button>
                    </form>
                </li>

                <li class="nav-item ml-3" id="languageNav">
                    <form class="form-inline" method="get"
                          th:action="@{__${#httpServletRequest.requestURI}__}">
                        <select class="form-control form-control-sm custom-select"
                                id="lang" name="lang" onchange="this.form.submit()">
                            <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">EN</option>
                            <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">BG</option>
                        </select>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</th:block>
</html>
