<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login — World of Tanks</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<header th:include="~{fragments/navigation}"></header>
<main role="main">
    <div class="jumbotron">
        <div class="custom-login-div">
            <form th:action="@{/users/login}"
                  th:method="post">

                <img class="mb-4"
                     th:src="@{/images/tank-icon.png}"
                     alt=""
                     width="64" height="50">
                <h1 class="h3 mb-3 fw-normal" th:text="#{login_title}">Please sign in</h1>

                <div class="form-floating">
                    <input name="username"
                           th:value="${username}"
                           type="text" class="form-control" id="floatingInput" placeholder="username">
                    <label for="floatingInput" th:text="#{login_username}">Username</label>
                </div>
                <div class="form-floating">
                    <input name="password" type="password" class="form-control" id="floatingPassword"
                           placeholder="password">
                    <label for="floatingPassword" th:text="#{login_password}">Password</label>
                </div>

                <p th:if="${bad_credentials}" class="errors alert alert-danger" th:text="#{login_error}">
                    Invalid username or password
                </p>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me">
                        <span th:text="#{login_remember}">Remember me</span>
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit" th:text="#{login_submit}">Sign in</button>
            </form>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments/footer}"/>
</body>
</html>
