<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register — World of Tanks</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<header th:include="~{fragments/navigation :: navigation}"></header>
<main role="main">
    <div class="jumbotron">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5" th:text="#{register_title}">Create an account</h2>

                                <div class="custom-register-div">
                                    <form th:action="@{/users/register}"
                                          th:method="post"
                                          th:object="${registerDTO}">

                                        <div class="form-outline mb-4">
                                            <input type="text"
                                                   name="username"
                                                   id="form3Example1cg"
                                                   th:field="*{username}"
                                                   th:errorclass="is-invalid"
                                                   class="form-control form-control-lg"/>

                                            <label class="form-label" for="form3Example1cg" th:text="#{register_username}">Your Username</label>
                                            <small id="usernameHelpInline"
                                                   class="bg-danger text-light rounded invalid-feedback">
                                                <div
                                                        th:each="err : ${#fields.errors('username')}"
                                                        th:text="${err}"

                                                ></div>
                                            </small>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="text"
                                                   name="fullName"
                                                   id="fullName"
                                                   th:field="*{fullName}"
                                                   th:errorclass="is-invalid"
                                                   class="form-control form-control-lg"/>
                                            <label class="form-label" for="fullName" th:text="#{register_fullname}">Your Full Name</label>
                                            <small id="fullNameHelpInline"
                                                   class="bg-danger text-light rounded invalid-feedback">
                                                <span th:text="#{register_err_fullname}">Full Name must be between 5 and 20 characters!</span>
                                            </small>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="email" id="form3Example3cg"
                                                   th:field="*{email}"
                                                   name="email"
                                                   th:errorclass="is-invalid"
                                                   class="form-control form-control-lg"/>
                                            <label class="form-label" for="form3Example3cg" th:text="#{register_email}">Your Email</label>
                                            <small id="emailHelpInline"
                                                   class="bg-danger text-light rounded invalid-feedback">
                                                <div
                                                        th:each="err : ${#fields.errors('email')}"
                                                        th:text="${err}"

                                                ></div>
                                            </small>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password"
                                                   th:field="*{password}"
                                                   th:errorclass="is-invalid"
                                                   name="password"
                                                   id="form3Example4cg"
                                                   class="form-control form-control-lg"/>
                                            <label class="form-label" for="form3Example4cg" th:text="#{register_password}">Password</label>
                                            <small id="passwordHelpInline"
                                                   class="bg-danger text-light rounded invalid-feedback">
                                                <span th:text="#{register_err_password}">Password must be at least 3 characters!</span>
                                            </small>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password"
                                                   th:field="*{confirmPassword}"
                                                   th:errorclass="is-invalid"
                                                   id="form3Example4cdg"
                                                   name="confirm password"
                                                   class="form-control form-control-lg"/>
                                            <label class="form-label" for="form3Example4cdg" th:text="#{register_confirm_password}">Repeat your
                                                password</label>
                                            <small id="confirmPasswordHelpInline"
                                                   class="bg-danger text-light rounded invalid-feedback">
                                                <span th:text="#{register_err_confirm}">Passwords should match!</span>
                                            </small>
                                        </div>

                                        <div class="d-flex justify-content-center mt-4">
                                            <button class="w-100 btn btn-lg btn-primary" type="submit" th:text="#{register_submit}">Register
                                            </button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
<th:block th:replace="~{fragments/footer}"/>
</body>
</html>
