<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Tank</title>
    <th:block th:replace="~{fragments/head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/tank-edit.css}">
</head>
<body>

<header th:replace="~{fragments/navigation}"></header>

<div class="container">
    <h2 class="text-center text-white">Edit Tank</h2>

    <form th:action="@{'/tanks/edit/' + ${editTankDTO.id}}" th:object="${editTankDTO}" method="post">
        <div>
            <label>Name:</label>
            <input type="text" th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
        </div>

        <div>
            <label>Power:</label>
            <input type="number" th:field="*{power}"/>
            <span th:if="${#fields.hasErrors('power')}" th:errors="*{power}" class="error"></span>
        </div>

        <div>
            <label>Health:</label>
            <input type="number" th:field="*{health}"/>
            <span th:if="${#fields.hasErrors('health')}" th:errors="*{health}" class="error"></span>
        </div>

        <div>
            <button type="submit">Update</button>
        </div>
    </form>
</div>

</body>
</html>
